<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
    <%= form.label :username, "Name" %>
    <%= form.text_field :username %>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password %>
    <%= form.submit "Create User" %>
<% end %>